/**
 * Classes to help you in your work
 */

// font sizes text: from 12px to 20px represent like em
@for $i from 0 through 6 {
	.fz-#{$i + 12} {
		font-size: ($i+12)*0.0625em !important;
	}
}

// others
.disable-scroll{
	overflow: hidden;
	position: fixed;
	// tablet and mobile
	@include maxw(sm){
		position: fixed;
		left: 0;
		right: 0;
	}
}
