$nav-top-h: 45px;

.nav-top{
	@include maxw(md){
		// height: $nav-top-h;
		box-shadow: 0 2px 2px rgba(#000, 0.2);
	}
	&__social{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		color: black;
		ul {
			list-style: none;
			li {
				display: inline;

			}
		}
	}
}

.nav-menu{
	ul {
		li a {
			font-size: 1.3em;
			// font-weight: bold;
			padding: 0 0.1em;
			margin: 0.3em;
			text-transform: uppercase;
		}
		li.active a{
			// border-bottom: 0.10em solid black;
			font-weight: bold;
		}
	}
}
