*.log
app/.htaccess
app/sitemap.xml
app/sitemap.xml.gz
app/wp-config.php
app/wp-content/advanced-cache.php
app/wp-content/backup-db/
app/wp-content/backups/
app/wp-content/cache/
app/wp-content/upgrade/
app/wp-content/uploads/
app/wp-content/uploads.backup/
app/wp-content/wp-cache-config.php
app/wp-content/plugins/hello.php
app/wp-content/themes/classicwhite-dev
app/wp-content/w3tc-config/

.directory
