
.home{
	h2{
		font-size: 1.9em;
		font-weight: bold;
	}
}

.section-home{
	&-baners{
		.container{
			height: auto;
			border:1px solid blue;
		}
	}
	&-products{
		.slider-product{
			.slick-dots{
				margin-top: 1.8em;
				position: relative;
				li.slick-active button:before {
					// color: #BDBDBD;
				}
				li button:before {
					font-size: 1rem;
				}
			}
		}
	}
}

.card-product{
	display: block;
	max-width: 280px;
	border: 1px solid #C5C5C5;
	padding: 20px;
	margin: 1px;
}

.card-page{
	display: block;
	max-width: 280px;
	padding: 20px;
	margin-right: 25px;
	margin-top: 5px;
	background-color:gray;

	@include maxw(md){
		margin-right: 5px;
	}

	h3{
		font-size: 1em;
	}
}

.footer{
	margin-top: 4.8em;
	h3{
		font-size: 1.5em;
		font-weight: bold;
	}
	h4{
		font-size: 1.3em;
		font-weight: bold;
	}
	&__contact{
		.row{
			border-top: 1px solid black;
			.col-12{
				min-height: 12em;
			}
		}
		&__whatsapp{
			margin-top: 5.2em;
			padding-top:5em;
			padding-bottom:5em;
		}
		&__whatsapp-ico{
			font-size: 2em;
			color: #424242;
		}
		&__whatsapp-number{
			background-color: #bdbdbd;
		}
	}
	&__content-black{
		background-color: black;
		color: white;
		padding: 2.8em 0em 2.8em 7.5em;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				margin: 0.2em;
			}
		}
	}
	&__social-icons{
		ul li a {
			width: 4.2em;
			height: 4.2em;
			border-radius: 50%;
			border: 0.3em solid white;
			color: white;
			text-decoration: none;
			margin-left: 0.45em;
			font-size: 0.8em;
			@include maxw(xs){
				font-size: 0.7em;
			}
		}
	}
}
