body{
	span.line{
		border-top:0.09375em solid white;
		display: block;
		width: 57%;
		margin: 0.19em auto;
	}
}
body.page-template-default{
	span.line{
		width: 30%;
	}
}
body.page-template-template-demo2, body.page-template-template-blog{
	span.line{
		width: 100%;
	}
}



.subtitle-bg{
	color: white;
	min-height: 14em;
	.title{
		z-index: 6;
		text-align: center;
		h1, h2, h3{
			display: inline-block;
			font-weight: bold;
		}
	}
	.layer-apha, .layer-image{
		display: block;
		width: 97.54%;
		height: 100%;
		position: absolute;
	}
	.layer-apha{
		background-color: rgba(228,51,43,0.9);
		// margin: 0 15px;
	}
	.layer-image{
		background-repeat: no-repeat;
		background-size:cover;
		background-position: 50% 18%;
	}
}

/**
 * css post content (page)
 */
.entry-content {
	h2{
		color: black;
	}
	@include maxw(xs){
		img{
			width: initial;
			max-width: 100%;
			height: auto;
		}
	}
}
