.subtitle-bg{
	color: white;
	min-height: 14em;
	.title{
		z-index: 6;
		text-align: center;
		h1{
			display: inline-block;
			font-weight: bold;
		}
		span.line{
			border-top:0.09375em solid white;
			display: block;
			width: 57%;
			margin: 0 auto;
		}
	}
	.layer-apha, .layer-image{
		display: block;
		width: 97.54%;
		height: 100%;
		position: absolute;
	}
	.layer-apha{
		background-color: rgba(0, 65, 139, 0.9);
		// margin: 0 15px;
	}
	.layer-image{
		background-repeat: no-repeat;
		background-size:cover;
	}
}

/**
 * css post content (page)
 */
.entry-content {
	h2{
		color: black;
	}
	@include maxw(xs){
		img{
			width: initial;
			max-width: 100%;
			height: auto;
		}
	}
}
